<!DOCTYPE html>
<html>
<head>
  <title>My Recipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-default" style="height: 30px>
  <div class="container">
   <%= link_to "myRecipes", "", class:"btn btn-success btn-lg", id:"logo" %>
  </div>
  <div class="nav_item">
   <%= link_to "link 1", "", class:"btn btn-warning btn-default"%>
  </div>
  <div class="nav_item">
   <%= link_to "link 2", "", class:"btn btn-warning btn-default"%>
  </div>
  <div class="nav_item">
   <%= link_to "link 3", "", class:"btn btn-warning btn-default"%>
  </div>
</header>
<div class="container">

<%= yield %>
<div class="footer">
<p>&copy; My Recipes 2015</P>
</div>

</body>
</html>
